<main class="container">
  <div class="main-title box">
    <h1>Administração</h1>
  </div>
  <div class="form-container box">
    <div class="form-login">
      <fieldset>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div class="send">
            <%= f.submit "Log in" %>
          </div>
        <% end %>
      </fieldset>
    </div>
  </div>
</main>

<%= render "users/shared/links" %>
